---
layout: archive
title: "Coursework"
permalink: /coursework/
author_profile: true
---

{% include base_path %}

{% for post in site.coursework reversed %}
  {% include archive-single.html %}
{% endfor %}


<div class="course-columns">
  <div class="course-column">
    <h2 class="column-title undergrad-heading">
      Mathematics
    </h2>
    <div class="course-box">
        <h3 class="course-heading grad-heading">
          Probability and Statistics
        </h3>
        <ul class="course-list">
          <li>&#9632; &nbsp;  Probability Theory I</li>
          <li>&#9632; &nbsp;  Probability Theory II</li>
          <li>&#9632; &nbsp;  High Dimensional Statistics</li>
          <li>&#9632; &nbsp;  Stochastic Processes on Graphs </li>
        </ul>
    </div>
     
    <div class="course-box">
        <h3 class="course-heading grad-heading">Analysis</h3>
        <ul class="course-list">
          <li>&#9632; &nbsp;  Measure Theory</li>
          <li>&#9632; &nbsp;  Intermediate Analysis</li>
          <li>&#9632; &nbsp;  Complex Analysis</li>
          <li>&#9632; &nbsp;  Advanced Calculus</li>
          <li>&#9632; &nbsp;  Numerical Analysis</li>
          <li>&#9632; &nbsp;  Introduction to Optimization</li>
        </ul>
    </div>

    <div class="course-box">
        <h3 class="course-heading grad-heading">Discrete Mathematics</h3>
        <ul class="course-list">
          <li>&#9632; &nbsp;  Combinatorial Optimization</li>
          <li>&#9632; &nbsp;  Number Theory</li>
          <li>&#9632; &nbsp;  Abstract Algebra I</li>
          <li>&#9632; &nbsp;  Abstract Algebra II</li>
          <li>&#9632; &nbsp;  Discrete Structures</li>
        </ul>
    </div>

    <div class="course-box">
        <h3 class="course-heading grad-heading">Core Undergraduate</h3>
        <ul class="course-list">
          <li>&#9632; &nbsp;  Calculus I, II, III</li>
          <li>&#9632; &nbsp;  Linear Algebra</li>
          <li>&#9632; &nbsp;  Differential Equations</li>
          <li>&#9632; &nbsp;  Methods in Applied Math</li>
          <li>&#9632; &nbsp;  Introduction to Statistics</li>
          <li>&#9632; &nbsp;  Mathematical Programming</li>
        </ul>
    </div>
          
  </div> 
  <div class="course-column">
    <h2 class="column-title undergrad-heading">Engineering</h2>
     
    <div class="course-box">
      <h3 class="course-heading grad-heading">Networks and Communication</h3>
      <ul class="course-list">
        <li>&#9632; &nbsp;  Random Processes</li>
        <li>&#9632; &nbsp;  Information Theory</li>
        <li>&#9632; &nbsp;  Quantum Information Theory</li>
        <li>&#9632; &nbsp;  Communication Network Analysis</li>
        <li>&#9632; &nbsp;  Communications</li>
      </ul>
    </div>
     
    <div class="course-box">
      <h3 class="course-heading grad-heading">Learning and Control</h3>
      <ul class="course-list">
        <li>&#9632; &nbsp;  Statistical Learning Theory</li>
        <li>&#9632; &nbsp;  MDPs and Reinforcement Learning </li>
        <li>&#9632; &nbsp;  Control Systems Analysis</li>
        <li>&#9632; &nbsp;  Machine Learning </li>
        <li>&#9632; &nbsp;  Deep Networks in Machine Learning </li>
      </ul>
    </div>

    <div class="course-box">
      <h3 class="course-heading grad-heading">Core Undergraduate</h3>
      <ul class="course-list">
        <li>&#9632; &nbsp;  Circuits I, II</li>
        <li>&#9632; &nbsp;  Electronics I, II</li>
        <li>&#9632; &nbsp;  Electromagnetics</li>
        <li>&#9632; &nbsp;  Signals and Systems</li>
        <li>&#9632; &nbsp;  Digital Signal Processing</li>
        <li>&#9632; &nbsp;  Power Systems Analysis</li>
        <li>&#9632; &nbsp;  Electrical Machines</li>
        <li>&#9632; &nbsp;  Microcontrollers</li>
        <li>&#9632; &nbsp;  Engineering Mechanics</li>
        <li>&#9632; &nbsp;  Antennas and Propagation</li>
        <li>&#9632; &nbsp;  Autonomous Robotics</li>
      </ul>
    </div>

    <div class="course-box">
      <h3 class="course-heading grad-heading">Education</h3>
      <ul class="course-list">
        <li>&#9632; &nbsp;  Teaching and Leadership for Engineering</li>
        <li>&#9632; &nbsp;  MAVIS Future Faculty Fellows Seminar</li>
      </ul>
    </div>
  </div>
</div> 